---
layout: default
---
<aside class="c-sidebar" style="align-items:center;justify-content: center;">
  <div>
    <div class="c-sidebar-author">
      <div class="c-author__cover">
        <a href="{{site.baseurl}}/">
          <img src="{{site.baseurl}}/images/{% if site.author-image %}{{site.author-image}}{% endif %}"
            alt="{{site.author-name}}">
        </a>
      </div>
      <div class="c-author__info">
        <div class="c-author__name">{{site.author-name}}</div>
        <span class="c-author__job">{{site.author-job}}</span>
      </div>

      <div class="c-contact-menu">
        {% if site.author-email %}
        <a href="mailto:{{site.author-email}}" class="c-contact-btn c-btn c-btn--secondary c-btn--round c-btn--shadow"
          style="background: #6495ED;"><span data-icon='ei-envelope' data-size='s'></span> email </a>
        {% else %}
        {% endif %}
        {% if site.author-github %}
        <a href="https://github.com/{{site.author-github}}" target="_blank"
          class="c-contact-btn c-btn c-btn--secondary c-btn--round c-btn--shadow" style="background:#9D71BD"><span
            data-icon='ei-sc-github' data-size='s'>
          </span> github
        </a>
        {% else %}
        {% endif %}
      </div>
      <p class="c-author__about">{{site.about-author | strip_html | truncatewords: 50}}</p>
    </div>
  </div>
</aside> <!-- /.c-sidebar -->

<main class="c-content">
  {{ content }}
</main> <!-- /.c-content -->