.app {
  padding-top: 80px;
  overflow: hidden;
}

header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 0 10%;
  box-sizing: border-box;
  background: #f2f2f2;
  color: #767676;
  height: 80px;
  top: 0;
}
.blogName {
  font-size: 20px;
}
.menus {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  margin: 0;
}

.menu {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  padding: 0 10px;
}

.menu:hover {
  color: #4670a5;
}
